@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Urbanist", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

    /* Navy Blue */
    --color-navy-blue-500: #182737;
    --color-navy-blue-400: #1F3247;
    --color-navy-blue-300: #304D6D; /* DEFAULT */
    --color-navy-blue-200: #647A91;
    --color-navy-blue-100: #97A6B6;

    /* Deep Blue */
    --color-deep-blue-500: #0D1724;
    --color-deep-blue-400: #142335;
    --color-deep-blue-300: #1A2E47; /* DEFAULT */
    --color-deep-blue-200: #536275;
    --color-deep-blue-100: #8C96A3;

    /* Light Gray */
    --color-light-gray-500: #737373;
    --color-light-gray-400: #ACACAC;
    --color-light-gray-300: #E5E5E5; /* DEFAULT */
    --color-light-gray-200: #EBEBEB;
    --color-light-gray-100: #F2F2F2;

    /* Mint */
    --color-mint-500: #556E66;
    --color-mint-400: #7FA499;
    --color-mint-300: #A9DBCC; /* DEFAULT */
    --color-mint-200: #BFE4D9;
    --color-mint-100: #D4EDE5;

    /* Vibrant Yellow */
    --color-vibrant-yellow-600: #707F03;
    --color-vibrant-yellow-500: #B5CE07;
    --color-vibrant-yellow-400: #C1DC04;
    --color-vibrant-yellow-300: #DFFD06; /* DEFAULT */
    --color-vibrant-yellow-200: #E7FD44;
    --color-vibrant-yellow-100: #F7FFBD;

    /* Magenta */
    --color-magenta-600: #54093F;
    --color-magenta-500: #7D0E5F;
    --color-magenta-400: #920F6F;
    --color-magenta-300: #A7127E; /* DEFAULT */
    --color-magenta-200: #BD4D9E;
    --color-magenta-100: #D388BE;

    /* Maroon */
    --color-maroon-600: #2B0C11;
    --color-maroon-500: #40111A;
    --color-maroon-400: #551722; /* DEFAULT */
    --color-maroon-300: #805159;
    --color-maroon-200: #AA8B90;
    --color-maroon-100: #D5C5C7;

    /* Misc */
    --gradients-navy-to-deep-blue: linear-gradient(180deg, var(--color-navy-blue-300, #304D6D) 0%, var(--color-deep-blue-300, #1A2E47) 100%);
}

/* ====== Container ====== */

@utility container-nav {
    margin-inline: auto;
    padding-inline: 16px;
    max-width: 1760px;
    width: 100%;

    @variant md {
        padding-inline: 32px;
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 16px;
    max-width: 1520px;
    width: 100%;

    @variant md {
        padding-inline: 32px;
    }
}

@utility container-smaller {
    margin-inline: auto;
    padding-inline: 16px;
    max-width: 1312px;
    width: 100%;

    @variant md {
        padding-inline: 32px;
    }
}

@utility container-extra-smaller {
    margin-inline: auto;
    max-width: 904px;
    width: 100%;
}

@utility trim-both{
    leading-trim: both;
}

@utility edge-cap{
    text-edge: cap;
}

* {
    @apply box-border;
}

/* ====== Base ====== */

@layer base {}

/* ====== Components ====== */

@layer components{
    /* Navbar */

    .nav-link {
        @apply font-bold text-white text-xl leading-6;
        &.nav-dropdown {
            @apply flex items-center gap-x-1.5 cursor-pointer;
        }
    }

    .sidebar-link {
        @apply p-6 border-t-2 border-light-gray-300;
        p {
            @apply flex justify-between items-center gap-x-2 font-sans font-bold text-navy-blue-300 text-[28px] leading-8;
        }
        a {
            @apply flex justify-between items-center gap-x-2 font-sans font-bold text-navy-blue-300 text-[28px] leading-8;
            img {
                @apply transition-all duration-150 ease-in-out size-6 opacity-0;
            }
        }
    }

    .sidebar-list {
        @apply flex flex-col gap-y-2 pr-6 pb-4.5;
        a {
            @apply flex justify-between items-center gap-x-2 transition-all duration-150 ease-in-out font-sans font-semibold text-[20px] rounded-r-[10px] leading-[100%] text-navy-blue-300 py-4 pl-6 pr-4 focus:bg-mint-100;
            img {
                @apply transition-all duration-150 ease-in-out size-6 opacity-0;
            }
        }
    }

    /* Accordion */

    .accordion-content {
        @apply font-sans font-medium text-[18px] md:text-[24px] tracking-[0.25px] md:leading-8.5!;
    }

    /* Button */

    .btn-primary {
        @apply block bg-vibrant-yellow-300 hover:bg-vibrant-yellow-400 focus:bg-vibrant-yellow-200 lg:p-4 px-4 py-0.5 rounded-full text-deep-blue-300 text-sm lg:text-xl text-center leading-6 transition-all duration-150 ease-in-out;
    }

    .btn-secondary {
        @apply block bg-magenta-300 hover:bg-magenta-400 focus:bg-magenta-200 lg:p-4 px-4 py-0.5 border border-transparent focus:border-magenta-300 rounded-full text-white hover:text-light-gray-300 text-sm lg:text-xl text-center leading-6 transition-all duration-150 ease-in-out;
    }

    /* Footer */

    .footer-link {
        @apply my-2.75 w-max font-sans text-[20px] tracking-[0.25px] hover:decoration-[8%] hover:underline hover:underline-offset-[12%];
    }
}

/* ====== Utilities ====== */

@layer utilities {
    /* Headlines */

    .headline-xl {
        @apply font-serif font-extrabold text-[52px] md:text-[92px] leading-13 md:leading-30 tracking-normal;
    }

    .headline-lg {
        @apply font-serif font-semibold text-[42px] md:text-[88px] leading-12 md:leading-26.5 lg:leading-28.5 tracking-normal;
    }

    .headline-1 {
        @apply font-serif font-semibold text-[36px] md:text-[64px] leading-9.5 md:leading-20.5 tracking-normal;
    }

    .headline-2 {
        @apply font-serif font-semibold text-[24px] md:text-[48px] leading-8 md:leading-14.5 lg:leading-15.5 tracking-normal;
    }

    .headline-3 {
        @apply font-serif font-semibold text-[20px] md:text-[32px] leading-6 md:leading-10.5 lg:leading-10.25 tracking-normal;
    }

    .headline-4 {
        @apply font-serif font-semibold text-[18px] md:text-[24px] leading-6 md:leading-7 lg:leading-8 tracking-normal;
    }

    /* Subheadlines */

    .subheadline-1 {
        @apply font-sans font-semibold text-[36px] md:text-[64px] leading-10.5 md:leading-18 lg:leading-21 tracking-[0.25px];
    }

    .subheadline-2 {
        @apply font-sans font-semibold text-[32px] md:text-[40px] leading-10 md:leading-12 lg:leading-11.5 tracking-[0.25px];
    }

    .subheadline-3 {
        @apply font-sans font-semibold text-[26px] md:text-[32px] leading-7.5 md:leading-8.5 lg:leading-9.5 tracking-[0.25px];
    }

    .subheadline-4 {
        @apply font-sans font-semibold md:font-extrabold text-[20px] md:text-[28px] leading-6.25 md:leading-7.5 lg:leading-10.5 tracking-[0.25px];
    }

    /* Paragraph */

    p.paragraph-lg {
        @apply font-sans font-medium text-[20px] md:text-[32px] leading-7.5 md:leading-9.5 lg:leading-11 tracking-[0.25px];
    }

    p.paragraph-md {
        @apply font-sans font-medium text-[18px] md:text-[24px] leading-7 tracking-[0.25px];
    }

    p.paragraph-sm {
        @apply font-sans font-medium md:font-semibold text-[16px] md:text-[20px] leading-6 md:leading-7.5 tracking-[0.25px];
    }

    p.paragraph-xs {
        @apply font-sans font-medium md:font-semibold text-[12px] md:text-[14px] leading-4.5 md:leading-4 lg:leading-5 tracking-[0.25px];
    }

    .paragraph-steps{
        @apply font-sans font-medium md:font-semibold text-[22px] leading-[140%] tracking-[1.1px];
    }

    .link-decoration {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-skip-ink: none;
        text-decoration-thickness: 9.5%;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }

    /* Misc */

    .box-shadow-sm {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    }

    .box-shadow-md {
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.30);
    }

    .bg-gradient-nav {
        background: linear-gradient(101deg, var(--color-navy-blue-300, #304D6D) 15.08%, var(--color-deep-blue-300, #1A2E47) 76.56%);
        /* box-shadow: 0 4px 4px 0 rgba(169, 169, 169, 0.25); */
    }

    .bg-gradient-nav-dropdown {
        background: #FFF;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 50%, rgba(242, 242, 242, 1) 100%);
    }

    .bg-gradient-blue-single {
        background: linear-gradient(322deg, #1A2E47 42.53%, #304D6D 99.87%);
    }

    .bg-gradient-blue-double {
        background: var(--gradients-navy-to-deep-blue, linear-gradient(180deg, var(--color-navy-blue-300, #304D6D) 0%, var(--color-deep-blue-300, #1A2E47) 100%));
    }
}

[x-cloak] {
    display: none;
}

/* Small Business Story (SLIDER) */

.online-bersama-small-business-story {
    @apply w-full pb-14!;
    .swiper-slide {
        @apply relative overflow-hidden;
        img {
            @apply w-156 rounded-[10px] mx-auto;
        }
        .overlay-slide {
            @apply flex transition-all duration-500 ease-in-out bottom-0 flex-col justify-end w-full opacity-0 text-deep-blue-300 space-y-2 rounded-[10px] px-0 mt-4 md:absolute md:text-white md:left-1/2 md:-translate-x-1/2 md:-bottom-full md:inset-0 md:p-6 md:mt-0 md:space-y-0 md:opacity-100 lg:p-8 lg:w-156;
            h4 {
                @apply font-extrabold!;
            }
            p {
                @apply font-semibold!;
            }
        }
        button {
            @apply absolute transition-all duration-500 ease-in-out scale-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-[110%] cursor-pointer md:-translate-y-1/2;
            img {
                @apply size-19.5;
            }
        }
        &.swiper-slide-active {
            .overlay-slide {
                @apply opacity-100 bottom-0!;
            }
            button {
                @apply scale-100!;
            }
        }
        &.swiper-slide-next,
        &.swiper-slide-prev {
            @apply relative z-10 cursor-pointer;
        }
    }
    .swiper-pagination {
        @apply flex justify-center items-center gap-2.5;
        .swiper-pagination-bullet {
            @apply transition-all duration-150 ease-in-out size-2.25 bg-[#e1e8ef] outline-none opacity-100! m-0!;
            &.swiper-pagination-bullet-active {
                @apply size-3! bg-[#b3c5d7];
            }
        }
    }
}

/* How to Use (SLIDER) */

.online-bersama-how-to-use {
    @apply overflow-visible! py-12!;
    .swiper-slide {
        @apply rounded-[10px]! xl:w-full! xl:transition-all! xl:duration-700! xl:ease-in-out!;
        &.hovered {
            @apply xl:basis-2/4;
        }
        &.not-hovered {
            @apply xl:basis-[23.2%];
        }
        #card-grow-action {
            @apply transition-all duration-500 ease-in-out translate-y-20 opacity-0;
        }
        &.swiper-slide-active {
            #card-grow-action {
                @apply transition-all duration-500 ease-in-out translate-y-0 opacity-100;
            }
        }
    }
    .swiper-pagination {
        @apply flex justify-center items-center gap-2.5;
        .swiper-pagination-bullet {
            @apply transition-all duration-150 ease-in-out size-2.25 bg-[#e1e8ef] outline-none opacity-100! m-0!;
            &.swiper-pagination-bullet-active {
                @apply size-3! bg-[#b3c5d7];
            }
        }
    }
}

/* [Find a .com] How to Use (SLIDER) */

.online-bersama-find-how-to-use {
    @apply overflow-visible! py-12!;
    .swiper-slide {
        #card-grow-action {
            @apply transition-all duration-500 ease-in-out max-xl:translate-y-20 max-xl:opacity-0;
        }
        &.swiper-slide-active {
            #card-grow-action {
                @apply transition-all duration-500 ease-in-out max-xl:translate-y-0 max-xl:opacity-100;
            }
        }
    }
    .swiper-pagination {
        @apply flex justify-center items-center gap-2.5;
        .swiper-pagination-bullet {
            @apply transition-all duration-150 ease-in-out size-2.25 bg-[#e1e8ef] outline-none opacity-100! m-0!;
            &.swiper-pagination-bullet-active {
                @apply size-3! bg-[#b3c5d7];
            }
        }
    }
}
